*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

@mixin title-text($titleSize) {
    font-size: $titleSize;
    text-transform: uppercase;
    color: $black;
}

@mixin grap-text($grapSize) {
    font-size: $grapSize;
    line-height: 2;
    color: $light-color;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background: $yellow;
        border-radius: 5rem;
    }
}

body{
    
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 30px;

    h3{
        
        margin-top: 1rem;
    }
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    color: $black;
    border: $border;
    background: no-repeat;
    font-size: 1.7rem;
    padding: 1rem 3rem;

    &:hover{
        color: $white;
        background: $yellow;
    }
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: $black;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

        .icons{
            font-size: 2.5rem;
            cursor: pointer;
            color: $white;
        

            &:hover{
                color: $yellow;
            }
        }
        
        #menu-btn{
            display: none;
        }

        .navbar{
            a{
                color: $white;
                font-size: 2rem;
                margin: 0 2rem;

                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 1rem;
                    color: $yellow;
                }
            }

            .space{
                display: inline-block;
                width: 16rem;
            }
        }

        .logo{
            position: absolute;
            top: 1rem; left: 50%;
            transform: translateX(-45%);

            img{
                width: 14rem;
            }
        }
        .search-form{
            height: 6rem;
            padding: 0 2rem;
            border-top: $border;
            display: flex;
            align-items: center;
            background: $black;
            position: absolute;
            top: 99%; left: 0; right: 0;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            input{
                width: 100%;
                background: none;
                text-transform: none;
                font-size: 1.6rem;
                color: $black;
            }
        }

        .fa-times{
            transform: rotate(180deg);
        }
}

.home{
    margin-top: 8rem;
    background: url(../images/home-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    .content{
        max-width: 70rem;
        text-align: center;
        margin: 0 auto;

        img{
            width: 100%;
        }

        h3{
           font-size: 50px;
        }

        p{
            font-size: 15px;
            padding: 2rem 0;
        }
    }
}

.servicios{
    @include grid(31rem);

    .box{
        text-align: center;
        padding: 2rem;
        i{
            height: 7rem;
            width: 7em;
            line-height: 7rem;
            font-size: 2.5rem;
            color: $black;
            background: $yellow;
            margin-bottom: 1rem;
            border-radius: 50%;
        }

        h3{
            padding: 1rem 0;
            font-size: 20px;
        }

        p{
            font-size: 15px;
        }
    }
}

.menu{
    
    .box-container{
        @include grid(40rem);

        .box{
            text-align: center;

            &:hover img{
                transform: translateY(1rem);
            }

            img{
                height: 25rem;
            }

            .content{
                padding: 1rem 0;

                .stars{
                    margin-bottom: 2rem;

                    i{
                        font-size: 1.7rem;
                        color: $yellow;
                    }
                }

                h3{
                    font-size: 20px;             
                }

                .precio{
                    font-size: 20px;
                    color: $light-color;
                }
            }
        }
    }
}

.reviews{
    .box-container{
        @include grid(31rem);

        .box{
            text-align: center;
            padding: 2rem;

            img{
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            h3{
                font-size: 15px;
            }

            p{
                @include grap-text(1.5rem);
                padding: 1rem 0;
            }

            .stars{
                padding-top: .5rem;

                i{
                    font-size: 1.7rem;
                    color:$yellow;
                }
            }
        }
    }
}

.contacto{

    .ubicación{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        .mapa{
            flex: 1 1 40rem;
        }

        .form{
            flex: 1 1 40rem;

            .icons-container{
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                margin-bottom: 3rem;

                .icons{
                    flex: 1 1 17rem;
                    text-align: center;

                    i{
                        height: 6rem;
                        width: 6rem;
                        line-height: 6rem;
                        border-radius: 50%;
                        background: $yellow;
                        color: $black;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    h3{
                        padding: 1rem 0;
                        font-size: 20px;
                    }

                    p{
                        @include grap-text(1.5rem);
                    }
                }
            }

            form{
                text-align: center;

                .box{
                    padding: 1.2rem 1.4rem;
                    font-size: 1.6rem;
                    color: $black;
                    background: none;
                    border: $border;
                    text-transform: none;
                    width: 100%;
                    margin: .7rem 0;
                    
                    &:focus{
                        border-color: black;
                    }
                }

                textarea{
                    height: 15rem;
                    resize: none;
                }
            }
        }
    }
}

// responsive header

@media (max-width:1200px){
    .header{
        padding: 3rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        justify-content: flex-end;
        gap: 2rem;

        .logo{
            transform: translateX(0);
            left: 3rem;
        }
        #menu-btn{
            display: inline-block;
        }

        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: $black;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a{
                display: block;
                margin: 3rem 2rem;
            }

            .space{
               display: none; 
            }
        }
    }
    
}

@media (max-width:768px){
    .home .content h3{
        font-size: 2.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
 
    .image{
       flex:1 1 40rem;
 
       img{
          width: 100%;
       }
    }
 
    .content{
       flex:1 1 40rem;
 
       .titulo{
          display: flex;
          color: $black;
          font-size: 25px;
       }
 
       p{
          font-size: 20px;
          padding:2rem 0;
       }
 
       .icons{
          display: flex;
          flex-wrap: wrap;
          gap:1.5rem;
          margin-bottom: 2rem;
          margin-top: 1rem;
 
          h3{
             flex:1 1 16rem;
             font-size: 16px;
 
             i{
                padding-right: .5rem;
                color:$yellow;
             }
          }
       }
    }
 }


 footer{
    position: absolute; 
    background: $black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: $white;

    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h3{
            font-size: 30px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
            color: $yellow;
        }

        p{
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 16px;
        }

        .redes{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;

            li{
                margin: 0 10px;
            }

            a{
                text-decoration: none;
                color:$white;

                i{
                    font-size: 20px;
                    transition: color .4s ease;

                    &:hover{
                        color: $yellow;
                    }
                }
            }
        }
    }

    .footer-btn{
        background: $black;
        width: 100vw;
        padding: 20px 0;
        text-align: center;

        i{
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }

        span{
             text-transform: uppercase;
             opacity: .4;
             font-weight: 200;
        }
    }

 }

 .nosotros{
     p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 16px;
        margin-top: 120px;
     }
 }

.trabajo{
    .cabeza{
            h1{
                margin-top: 100px;
                display: flex;
                justify-content: center;
                font-size: 40px;
                background-color: $yellow;
            }

            p{
                display: flex;
                justify-content: center;
                font-size: 15px;
            }

            form{
                text-align: center;
            }
    }


} 

.medio{
    .medio{
        h2{
               
            display: flex;
            justify-content: center;
            font-size: 40px;
        }

        p{
            display: flex;
            justify-content: center;
            font-size: 15px;
        }
    }
}    

form{
    text-align: center;
    margin-top: 100px;

    h3{
        display: flex;
            justify-content: center;
            font-size: 30px;
    }

    .box{
        padding: 1.2rem 1.4rem;
        font-size: 1.6rem;
        color: $black;
        background: none;
        border: $border;
        text-transform: none;
        width: 100%;
        margin: .7rem 0;
        
        &:focus{
            border-color: black;
        }
    }

}
.mb-3{
    padding: 1.2rem 1.4rem;
        font-size: 1.6rem;
        color: $black;
        background: none;
        border: $border;
        text-transform: none;
        width: 100%;
        margin: .7rem 0;
        
        &:focus{
            border-color: black;
        }
}
.noticias{
    .contenido{
        h1{
            text-align: center;
            font-size: 40px;
            color: $black;
            margin-top: 100px;
            font-weight: 100;
        }
    }
}


.contenedornoticias{
        width: 100%;
        height: 130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
}

.card{
    
    width: 530px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2 );
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all 0.25s;

    &:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    img{
        width: 330px;
        height: 220px;
    }

    h4{
        font-weight: 600;
        font-size: 18px;
    }

    p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }

    a{
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
        font-size: 13px;
    }
}

@media (max-width: 840px){
    .contenido{
        grid-template-columns: repeat(2, 1fr);
    
}
}

@media (max-width: 390px){
    .contenido{
        grid-template-columns: repeat(1, 1fr);
    
}
}